
@media (max-width:650px) {
    .login-main-div{
     text-align: center;
    }
    
    
    
    .loginTemplate {
        
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        border-radius: 2%;
        padding: 3rem 2rem;
        margin: 1% 5%;
        border-radius: 1rem;
        background-color: #ecf0f3;
        box-shadow: 13px 30px 20px #cbced1,
            -13px -13px 20px #fff;
    
    
    }
}



