*,
*::before,
*::after{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
    background-color: #DFDFDF;
  }

  body {
    text-align: center;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }